{% extends "vcenter/base.html" %}

{% load static %}

{% block title %}MovieLens{% endblock %}

{% block user %}{{ username }}{% endblock %}

{% block indexli %}
<li><a href="{% url 'vcenter_index' %}">影片</a></li>
<li class="VC_dropdown">
  <a href="{% url 'vcenter_ani' %}" class="dropbtn">動漫</a>
  <div class="dropdown-content">
    <a href="{% url 'VC_edit_ani'%}">開新動畫</a>
  </div>
</li>
<li><a class="active" href="{% url 'MovieLens' %}">影片推薦</a></li>
<li><a href="{% url 'account_index' %}">個人設定</a></li>
<li style="float:right;"><a href="{% url 'SingOut' %}">登出</a></li>
{% endblock %}

{% block content %}
<div>
<form method="post" id="userID" action="{% url 'MovieLens' %}">
  {% csrf_token %}
  <h2>Choice a User (between 1 and 138493):</h2>
  <input type="number" name="quantity" min="1" max="138493">
</form>
<div class="postuser">
  <button type="submit" form="userID" value="Submit">how about the user</button>
</div>
</div>
<div id="ChoiceImage">
  <h2>Choice a movie you like:</h2>
  {% for val in movie %}
  <div style="width: 280px;float: left;padding: 5px;margin: 5px;background-color: white;height: 560px;overflow: hidden;">
    <img src="{% static 'MovieLens/movieimg' %}/{{ val.movieId }}.jpg" onerror="this.src='{% static 'MovieLens/movieimg/cover.jpg' %}'" onclick=ImgClick("{{ val.movieId }}") width="280px">
    <h3>{{ val.title }}</h3>
    <p>{{ val.genres }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block TheEndJS %}
<script>
function UserClick(userID) {
    var rooturl = "{% url 'MovieLens' %}user/";
    var url = rooturl.concat(movieID, "/");
    $(".se-pre-con").fadeIn();
    window.location.assign(url);
}
function ImgClick(movieID) {
    var rooturl = "{% url 'MovieLens' %}movie/";
    var url = rooturl.concat(movieID, "/");
    $(".se-pre-con").fadeIn();
    window.location.assign(url);
}
</script>
{% endblock %}
