{% extends "MovieLens/base.html" %}

{% load static %}

{% block title %}MovieLens{% endblock %}

{% block user %}{{ username }}{% endblock %}

{% block indexli %}
<li><a href="{% url 'vcenter_index' %}">影片</a></li>
<li class="dropdown">
  <a href="{% url 'vcenter_ani' %}" class="dropbtn">動漫</a>
  <div class="dropdown-content">
    <a href="{% url 'VC_edit_ani'%}">開新動畫</a>
  </div>
</li>
<li><a class="active" href="{% url 'MovieLens' %}">影片推薦</a></li>
<li><a href="{% url 'account_index' %}">個人設定</a></li>
<li style="float:right;"><a href="{% url 'SingOut' %}">登出</a></li>
{% endblock %}

{% block content %}
<p>{{ JSON }}</p>

<div id="ChoiceImage">
  <div>
    <div style="float: left;">
      <img src="{% static 'MovieLens/movieimg' %}/{{ thismovie.movieId }}.jpg" onerror="this.src='{% static 'MovieLens/movieimg/cover.jpg' %}'" width="300px">
    </div>
    <div style="float: left;margin-left: 50px;">
      <h3>{{ thismovie.title }}</h3>
      <p>{{ thismovie.genres }}</p>
    </div>
  </div>
  <div style="clear:both"></div>
  <h2>也許你會喜歡這些影片，因為這些影片跟你選的影片類似</h2>
  {% if error %}
      {{ error }}
  {% endif %}
  {% for val in movie %}
  <div style="width: 280px;float: left;padding: 5px;margin: 5px;background-color: white;height: 560px;overflow: hidden;">
    <img src="{% static 'MovieLens/movieimg' %}/{{ val.movieId }}.jpg" onerror="this.src='{% static 'MovieLens/movieimg/cover.jpg' %}'" onclick=ImgClick("{{ val.movieId }}") width="280px">
    <h3>{{ val.title }}</h3>
    <p>{{ val.genres }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block TheEndJS %}
<script>
function ImgClick(movieID) {
    var rooturl = "{% url 'MovieLens' %}movie/";
    var url = rooturl.concat(movieID, "/");
    $(".se-pre-con").fadeIn();
    window.location.assign(url);
}
</script>
{% endblock %}
