{% extends "vcenter/base.html" %}

{% block title %}user{% endblock %}

{% block indexli %}
<li><a href="{% url 'vcenter_index' %}">影片</a></li>
<li><a class="active" href="{% url 'account_index' %}">個人設定</a></li>
<li><a href="{% url 'SingOut' %}">登出</a></li>
{% endblock %}

{% block content %}
{% if message %}
<div class="errormessage">
  {{ message }}
</div>
{% endif %}
<div class="username">
  <form method="post">
  <h3>User name</h3>
  <input type="text" name="firstname" value="{{ username }}">
  <h3>First name</h3>
  <input type="text" name="firstname" value="{{ firstname }}">
  <h3>Last name</h3>
  <input type="text" name="firstname" value="{{ lastname }}">
  <input type="submit" value="Submit">
</div>
{% endblock %}
