{% extends "vcenter/base.html" %}

{% load static %}

{% block title %}Test animation{% endblock %}

{% block indexli %}
<li><a href="{% url 'vcenter_index' %}">影片</a></li>
<li><a class="active" href="{% url 'vcenter_ani' %}">動漫</a>
  <ul>
    <li><a class="active" href="{% url 'VC_edit_ani' %}">開新動畫</a></li>
  </ul>
</li>
<li><a href="{% url 'MovieLens' %}">影片推薦</a></li>
<li><a href="{% url 'account_index' %}">個人設定</a></li>
<li><a href="{% url 'SingOut' %}">登出</a></li>
{% endblock %}

{% block user %}{{ username }}{% endblock %}

{% block content %}
<div class="masterbar">
  <div id="videopart" class="videopart">
    {% if error %}
        {{ error }}
    {% endif %}
    {% for val in animate %}
    <div style="width: 280px;float: left;padding: 5px;margin: 5px;background-color: white;height: 560px;overflow: hidden;">
      <img src="{% get_media_prefix %}/{{ val.nameEN }}/cover.jpg" onerror="this.src='{% static 'vcenter/images/cover.jpg' %}'" onclick=ImgClick("{{ val.movieId }}") width="280px">
      <h3>{{ val.name }}</h3>
      <p>{{ val.update }}</p>
    </div>
    {% endfor %}

  </div><!-- #videopart -->
</div><!-- .masterbar -->
{% endblock %}

{% block TheEndJS %}
<script>
  $(document).ready(function(){
    var videoplayerwidth = $( "#videoplayer" ).width();
    $( "#videoplayer" ).css( "height", videoplayerwidth*9/16 );
  });
</script>
{% endblock %}
