{% extends "vcenter/base.html" %}

{% load static %}

{% block title %}Test animation{% endblock %}

{% block indexli %}
<li><a href="{% url 'vcenter_index' %}">影片</a></li>
<li class="VC_dropdown">
  <a href="{% url 'vcenter_ani' %}" class="dropbtn active">動漫</a>
  <div class="dropdown-content">
    <a href="{% url 'VC_edit_ani'%}">開新動畫</a>
  </div>
</li>
<li><a href="{% url 'MovieLens' %}">影片推薦</a></li>
<li><a href="{% url 'account_index' %}">個人設定</a></li>
<li style="float:right;"><a href="{% url 'SingOut' %}">登出</a></li>
{% endblock %}

{% block user %}{{ username }}{% endblock %}

{% block content %}
<div class="masterbar">
  <div id="videopart" class="videopart">
    <div style="height:76px">
      <h2 id="animationtitle" style="float:left;">Test video</h2>
    </div>
    <div id="videoplayer" style="width: 100%;">
      <video id="animationvideo" controls  width="100%" height="100%">
        <source id="animationvideo_source" src="{% static 'vcenter/video/big_buck_bunny.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div><!-- #videoplayer -->
  </div><!-- #videopart -->
</div><!-- .masterbar -->
{% endblock %}

{% block TheEndJS %}
<script>
  $(document).ready(function(){
    var videoplayerwidth = $( "#videoplayer" ).width();
    $( "#videoplayer" ).css( "height", videoplayerwidth*9/16 );
  });
</script>
{% endblock %}
