{% extends "vcenter/base.html" %}

{% block title %}Test animation{% endblock %}

{% block content %}
<div class="masterbar">
  <div id="videopart" class="videopart">
    <div style="height:76px">
      <h2 id="animationtitle" style="float:left;">Test video</h2>
      <h2 id="animationnum" style="float:left;margin-left:15px;"></h2>
    </div>
    <video id="animationvideo" controls  width="1280" height="720">
      <source id="animationvideo_source" src="{% static 'vcenter/video/big_buck_bunny.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div id="videolist"></div>
  </div><!-- #videopart -->
</div><!-- .masterbar -->
{% endblock %}
