{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <title>絕對低調 {% block title %}{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" />
    </head>
    <body id="loginpagebody">
      <div class="intoweb" id="intoweb">
        <div class="intobox" align="left">
        {% block content %}{% endblock %}
        </div><!-- .intobox -->
      </div><!-- .intoweb -->
    </body>
</html>
