{% extends "index/base.html" %}

{% block title %}Sing In{% endblock %}

{% block content %}
<div id="intoboxtitle" class="intoboxtitle"><b>Sing In</b></div>
<div id="loginbox" class="loginbox" style = "margin:30px">
  <form method = "post" id="login_form" action="{% url 'SingIn' %}">
    {% csrf_token %}
    <p>{{ form.username.label_tag }}</p>
    {{ form.username }}
    <p>{{ form.password.label_tag }}</p>
    {{ form.password }}
  </form>
  <div class="intowebsubmit">
    <button type="submit" form="login_form" value="Submit" style="left:0;">登入</button>
    <button type="button" style="right:0;" id="registrationon">註冊</button>
  </div>
  <div class="clear"></div>
</div><!-- .loginbox -->
{% if form.errors %}
<div class="errormessage">
  <p>Your username and password didn't match.</p>
  <p>Please try again.</p>
</div>
{% endif %}
{% endblock %}
