/*
 * movie web css
 * author: Kevin Wei
*/

/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Sidepage
 * 3.0 - loginpage
 * 4.0 - Masterbar
 * 5.0 - Social Login
 */

/* google font notosanstc */
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
	font-family: 'Noto Sans TC', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: white;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	color: #939393;
	background-color: transparent;
	text-decoration-line: inherit;
}

a:hover {
	color: #6b6b6b;
}

abbr[title] {
	border-bottom: 1px dotted;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

.clear {
	clear: both;
}

/**
 * 2.0 sitepage
 *
 */
.sitepage {
	width: 80%;
	margin: 40px auto;
}

#loginpagebody {
	width: 100%;
	height: 100vh;
	background-image: url("images/indexlogin.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

#moviebody {
	background-color: #c5c5c5;
}

/**
 * 3.0 - loginpage
 *
 */
.intoweb {
	width: 400px;
	height: 330px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.singinweb {
        height: 438px;
}

.registerweb {
	height: 658px;
}

.intobox {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

.intobox p {
	margin: 15px 0 0;
}

.intoboxtitle {
	background-color: #457EE8;
	color:#FFFFFF;
	font-size: 25px;
	padding: 15px 10px;
	text-align: center;
}

.loginbox input[type="text"], .loginbox input[type="password"],
.registerbox input[type="text"], .registerbox input[type="password"], .registerbox input[type="email"] {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #3B3B3B;
	width: calc( 100% - 16px );
	background-color: rgba(255,255,255,0);
}

.loginbox input:focus, .registerbox input:focus {
	padding-bottom: 7px;
	outline-style: none;
	border-bottom: 2px solid #457EE8;
}

.registerinput {
	height: 390px;
        overflow-y: scroll;
}

.addusersubmit, .intowebsubmit {
	height: 34px;
	width: 100%;
	border-radius: 5px;
	background-color: #457EE8;
	border-top: 3px solid #B3D0FF;
	border-bottom: 3px solid #B3D0FF;
	float: left;
	position: relative;
}

.addusersubmit {
	margin: 20px 0;
}

.intowebsubmit {
	margin: 11px 0 0;
}

.intobox button {
	width: calc( 50% - 0.5px );
	height: 40px;
	background-color: #B3D0FF;
	border: 0;
	border-radius: 3px;
	position: absolute;
	top: -3px;
	transition: all .2s;
}

.intobox button:hover {
	color: white;
	background-color: #2149A0;
}

.g-recaptcha {
	margin-top: 10px;
}

.g-recaptcha div {
	margin: 0 auto;
}

.welcomebox button {
  width: calc( 100% - 1px );
  position: static;
  color: black;
}

.welcomebox p {
	margin-bottom: 15px;
  margin-top: 25px;
}

.errormessage {
	background-color: #ee1111e6;
	padding: 5px 20px;
}

.errormessage p {
	color: #fff;
	margin: 10px 0;
}


/**
 * 4.0 - Sidebar
 *
 */
.movieheader {
	height: auto;
}

.movieheader h1 {
	float: left;
	font-size: 38px;
}

.movieheader .toright {
	width: 500px;
	float: right;
}

.movieheader .theptad {
	width: 100%;
}

.movieheader .theptad p {
	float: right;
	font-size: 18px;
	margin: 5px 0;
}

#navmenu {
	margin-top: 10px;
}

#navmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navmenu ul li {
    float: left;
}

#navmenu ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navmenu ul li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

#navmenu ul li.dropdown {
    display: inline-block;
}

.active {
	background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
	width: 1420px;
}

.masterbar {
 	width: 100%;
}

.videopart {
	width: 100%;
	margin: 0 auto;
}

#videolist button {
	padding: 10px 14px;
	background-color: white;
	margin: 5px;
	border: 2px solid white;
}

#videolist button:hover {
	background-color: #1a75ff;
	color: #ffffff;
}

.animationlist {
	width: 1420px;
}

.videobox {
	height: 400px;
	width: 254px;
	margin: 15px;
	float: left;
	cursor: pointer;
}

.videobox h3 {
	background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 14px;
	margin: 0;
}

/**
 * 5.0 - Social Login
 *
 */
.soc_button {
      margin-top: 10px;
      padding: 10px 1em;
      border: 1px solid transparent;
      border-radius: 2px;
      text-align: center;
}

.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.social.linkedin:hover, .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.social.youtube {
  background-color: #bb0000;
  color: #fefefe;
}

.social.youtube:hover, .social.youtube:focus {
  background-color: #960000;
  color: #fefefe;
}

.social.instagram {
  background-color: #125688;
  color: #fefefe;
}

.social.instagram:hover, .social.instagram:focus {
  background-color: #0e456d;
  color: #fefefe;
}

.social.pinterest {
  background-color: #cb2027;
  color: #fefefe;
}

.social.pinterest:hover, .social.pinterest:focus {
  background-color: #a21a1f;
  color: #fefefe;
}

.social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.social.google-plus:hover, .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.social.github {
  background-color: #000000;
  color: #fefefe;
}

.social.github:hover, .social.github:focus {
  background-color: black;
  color: #fefefe;
}

.social.tumblr {
  background-color: #32506d;
  color: #fefefe;
}

.social.tumblr:hover, .social.tumblr:focus {
  background-color: #284057;
  color: #fefefe;
}

.social > .fa {
  color: #fefefe;
  margin-right: .25rem;
}

/* page loading */
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("images/Preloader.gif") center no-repeat #fff;
}
